@model SpaceApps.Models.CleanData.MainLaunch
@{
    ViewData["Title"] = "Launch";
}
<div class="grid-container">
    <div class="mobile-grid-100">
        <div class='launchTitle'>@Model.Agency.name</div>
        <div class="launchText">@Model.name</div>
    </div>
    <div class="grid-33 mobile-grid-100">
        <div class="launchInfoHead">About</div>
        <div class="launchInfoContent">
            @{
                int launchStatus = Convert.ToInt32(Model.LaunchStatus);
                switch (launchStatus)
                {
                    case 1:
                        <div class="launchState green"><i class="fas fa-calendar-check"></i>&nbsp; Ready to Launch</div>
                        break;
                    case 2:
                        <div class="launchState red"><i class="fas fa-calendar-times"></i>&nbsp; Not Ready to Launch</div>
                        break;
                    case 3:
                        <div class="launchState success"><i class="fas fa-calendar-check"></i>&nbsp; Success</div>
                        break;
                    case 4:
                        <div class="launchState failure"><i class="fas fa-frown-open"></i>&nbsp; Failure</div>
                        break;

                };
            }
            <i class="fas fa-calendar"></i> &nbsp; @Model.WindowStart.ToString("dd MMMM yyyy hh:mm:ss UTC")<br />
        </div>
    </div>

    <div class="grid-33">
        <div class="image" style="background:url(@Model.Rocket.ImageURL);"></div>
    </div>

    <div class="grid-33 mobile-grid-100">
        <div class="launchInfoHead">More Info</div>
        <div class="launchInfoContent bigtext">
            @{ if (@Model.Agency != null)
                {
                    <b>Agency:</b> @Model.Agency.name<br />
                }
            }
            @{ if (@Model.Location != null)
                {
                    <b>Location:</b> @Model.Location.name <br />
                }
            }
            @{ if (@Model.Location != null)
                {
                    <b>Country:</b> @Model.Location.CountryCode <br />
                }
            }
            @{ if (@Model.Missions != null)
                {
                    <b>Type:</b> @Model.Missions[0].TypeName<br />
                }
            }
        </div>
    </div>


    <div class="grid-60 mobile-grid-100">
        <div class="launchInfoHead">Journey</div>
        <div class="launchInfoContent">
            @Model.Missions[0].Description
        </div>
    </div>

    @{ if (@Model.InfoURL != null)
        {
            <div class="grid-40 mobile-grid-100">
                <div class="launchInfoHead">
                    Read more from the controller at
                </div>
                <br />
                <a>@Model.Missions</a>

            </div>
        }
    }

            <div class="grid-40 mobile-grid-100">
                <div class="launchInfoHead">
                    On other sites:
                </div>
                <div class="launchInfoContent">
            @{ if (@Model.Rocket.WikiURL != null)
            {
                <a href="@Model.Rocket.WikiURL">Rocket Wikipedia</a>
}
            }
            <br />
            @{ if (@Model.Agency.WikiURL != null)
            {
                <a href="@Model.Agency.WikiURL">Agency Wikipedia</a>
}
            }
                </div>
                </div>
    </div>

